[submodule "bolson"]
	path = bolson
	url = https://github.com/rocketgithub/bolson.git
	branch = 9.0
[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = https://github.com/rocketgithub/l10n_gt_extra.git
	branch = 9.0
[submodule "importaciones"]
	path = importaciones
	url = https://github.com/rocketgithub/importaciones.git
	branch = 10.0
